openapi: "3.0.3"

info:
  title: Razorpay — Orders API (Unofficial)
  version: 1.0.0
  description: |
    This is an unofficial OpenAPI specification for the Razorpay Orders,
    Payments (Capture), and Refunds APIs. Created as a portfolio project.

servers:
  - url: https://api.razorpay.com/v1

security:
  - basicAuth: []

tags:
  - name: orders
    description: Operations related to orders
  - name: payments
    description: Payment capture operations
  - name: refunds
    description: Refund operations

paths:

  /orders:
    post:
      tags:
        - orders
      summary: Create an order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid request

  /orders/{order_id}:
    get:
      tags:
        - orders
      summary: Fetch an order
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
          description: The order ID (e.g., order_123abc)
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Order not found

  /orders/{order_id}/payments:
    get:
      tags:
        - payments
        - orders
      summary: Fetch payments for an order
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
        - name: count
          in: query
          schema:
            type: integer
            default: 10
        - name: skip
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of payments for the order
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment'

  /payments/{payment_id}/capture:
    post:
      tags:
        - payments
      summary: Capture a payment
      parameters:
        - name: payment_id
          in: path
          required: true
          schema:
            type: string
          description: Razorpay payment ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptureRequest'
      responses:
        '200':
          description: Payment captured successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          description: Capture failed

  /refunds:
    post:
      tags:
        - refunds
      summary: Create a refund
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '201':
          description: Refund created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        '400':
          description: Refund creation failed


components:

  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use Key ID as username and Key Secret as password

  schemas:

    OrderCreate:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          type: integer
          description: Amount in the smallest currency unit
        currency:
          type: string
          example: INR
        receipt:
          type: string
        notes:
          type: object
          additionalProperties:
            type: string

    Order:
      type: object
      properties:
        id:
          type: string
        amount:
          type: integer
        amount_paid:
          type: integer
        amount_due:
          type: integer
        currency:
          type: string
        status:
          type: string
        receipt:
          type: string
        created_at:
          type: integer
        notes:
          type: object
          additionalProperties:
            type: string

    Payment:
      type: object
      properties:
        id:
          type: string
        amount:
          type: integer
        currency:
          type: string
        status:
          type: string
        order_id:
          type: string
        method:
          type: string
        created_at:
          type: integer

    CaptureRequest:
      type: object
      required:
        - amount
      properties:
        amount:
          type: integer
        currency:
          type: string
          example: INR

    RefundRequest:
      type: object
      required:
        - payment_id
      properties:
        payment_id:
          type: string
        amount:
          type: integer
          description: Amount to refund (optional for full refund)
        speed:
          type: string
          enum:
            - normal
            - optimum
          description: Refund processing speed
        notes:
          type: object
          additionalProperties:
            type: string

    Refund:
      type: object
      properties:
        id:
          type: string
        amount:
          type: integer
        currency:
          type: string
        status:
          type: string
        created_at:
          type: integer
